body,html{margin:0;padding:0;overflow:hidden;background-color:transparent}
.css-10zrxqh {
    display: none !important; /* Hides the element and uses !important to ensure it overrides other styles */
}